.container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.form {
  display: flex;
  justify-content: center;
  background-color: #09121b;
  width: 600px;
  padding: 30px;
  border-radius: 10px;

  form {
    display: flex;
    flex-direction: column;
  }
}

.title {
  color: white;
  font-size: 32px;
  font-family: 'Roboto mono';
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-top: 20px;
  text-align: center;
}

.input {
  width: 500px;
  height: 60px;
  background-color: transparent;
  color: white;
  border: 3px solid gray;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 15px;
  font-size: 22px;
}

.input:focus {
  border-color: white;
  outline: none;
}

.inputFile {
  background-color: transparent;
}

.textArea {
  width: 500px;
  height: 270px;
  background-color: transparent;
  color: white;
  border: 3px solid gray;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 15px;
  font-size: 22px;
}
.textArea:focus {
  border-color: white;
  outline: none;
}

.btn {
  margin-top: 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 280px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
  font-family: 'Roboto mono', sans-serif;
  font-weight: bold;
  transition: 0.3s;
  color: black;
}

.btn:hover {
  background-color: var(--gray);
}

@media (max-width: 610px) {
  .container {
    margin-top: -100px;
    margin-bottom: -100px;
  }
  .form {
    transform: scale(0.8);
  }
}

@media (max-width: 565px) {
  .form {
    transform: scale(0.7);
  }
}
