.container {
  margin-bottom: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1322px) {
  .cards {
    flex-direction: column;
    justify-content: center;
  }
}
